%header
	%nav.green
		%ul.no-list.no-padding.text-center
			%li.col-md-4.inline-block.tall-padding.white-text
				-if user_signed_in?
					=link_to root_path, class: "right-space white-text" do
						%i.mdi-action-shopping-basket
						Mi tienda
					=link_to ordenes_path, class: "right-space white-text" do
						%i.mdi-action-trending-up
						Ordenes
					=link_to "", class: "right-space white-text" do
						%i.mdi-action-alarm
						Descuentos
					=link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "right-space white-text"
			%li.col-md-4.inline-block.text-center.tall-padding
				=image_tag "tiendus.png", height: "25px"
			%li.col-md-4.inline-block.tall-padding
				=link_to carrito_path, class: "white-text" do
					%i.mdi-action-shopping-cart
					Mi carrito
					(
					= @shopping_cart.products.count
					)



